# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Environment variables
.env
.env.*

# Flask-related
instance/
*.db
*.sqlite3

# Logs
*.log

# OS/system files
.DS_Store
Thumbs.db

# IDE/editors
.vscode/
.idea/
*.swp
